<aside id="sidebar" class="w-screen md:w-96 p-5 bg-slate-800 text-white space-y-5 absolute inset-y-0 left-0 transform -translate-x-full transition duration-200 ease-in-out md:relative md:translate-x-0">
    <div class="flex justify-between">
        <div>
            <a href="/" class="flex space-x-2 text-xl items-center px-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                </svg>

                <span>{{ globals.siteTitle }}</span>
            </a>
        </div>

        <button class="mobile-menu-button md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>

    <nav class="divide-y divide-slate-700">
        {% for item in globals.menu %}
            <a href="{{ item.href }}" class="block py-3 px-4 hover:bg-slate-700 transition duration-200 flex space-x-2 items-center">
                {{ item.icon|safe }}
                <span>{{ item.label|safe }}</span>
            </a>
        {% endfor %}
    </nav>
</aside>